# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Mission2021\Java8Streams\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
